<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-film"></i> MovieApp</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
        >Home <span class="sr-only">(current)</span></a
      >
    </div>
    <div
      *ngIf="!isLoggedIn(); else userSettings"
      class="navbar-nav"
      style="margin-left: auto"
    >
      <a
        class="nav-item nav-link"
        role="button"
        routerLink="/login"
        routerLinkActive="active"
        >Log in</a
      >
      <!-- <a
        class="nav-item nav-link"
        role="button"
        routerLink="/sigin"
        routerLinkActive="active"
        >Sign in</a
      > -->
    </div>
    <ng-template #userSettings>
      <div
        class="row"
        #userSettings
        style="margin-left: auto; margin-right: 20px"
      >
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              <i class="fas fa-user-circle"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
