<nav class="navbar navbar-expand-lg" role="navigation" aria-label="Main navigation">
  <div class="container">
    <a class="navbar-brand" routerLink="/" aria-label="MovieApp - Go to homepage">
      <i class="fas fa-film" aria-hidden="true"></i>
      <span>MovieApp</span>
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation menu"
    >
      <span class="navbar-toggler-icon" aria-hidden="true"></span>
      <span class="sr-only">Toggle navigation</span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav" role="menubar">
      <ul class="navbar-nav me-auto" role="none">
        <li class="nav-item" role="none">
          <a 
            class="nav-link" 
            routerLink="/" 
            routerLinkActive="active"
            role="menuitem"
            aria-current="page"
            tabindex="0"
          >
            <i class="fas fa-home" aria-hidden="true"></i>
            <span>Home</span>
          </a>
        </li>
      </ul>
      
      <div class="navbar-nav" *ngIf="!isLoggedIn(); else userSettings" role="none">
        <div class="nav-item" role="none">
          <a 
            class="nav-link" 
            routerLink="/login" 
            routerLinkActive="active"
            role="menuitem"
            tabindex="0"
          >
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
            <span>Log in</span>
          </a>
        </div>
      </div>
      
      <ng-template #userSettings>
        <div class="user-dropdown" role="none">
          <div ngbDropdown>
            <button
              class="dropdown-toggle"
              id="userDropdown"
              ngbDropdownToggle
              aria-expanded="false"
              aria-haspopup="true"
              aria-label="User account menu"
              role="menuitem"
              tabindex="0"
            >
              <i class="fas fa-user-circle" aria-hidden="true"></i>
              <span>Account</span>
              <i class="fas fa-chevron-down" aria-hidden="true"></i>
            </button>
            <div 
              ngbDropdownMenu 
              [attr.aria-labelledby]="'userDropdown'" 
              class="dropdown-menu"
              role="menu"
            >
              <button 
                ngbDropdownItem 
                class="dropdown-item" 
                (click)="logout()"
                role="menuitem"
                tabindex="0"
                aria-label="Logout from account"
              >
                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
