<ng-template #content let-modal>
  <div class="modal-header">
    <h2 class="modal-title" id="movie-modal-title">
      <i class="fas fa-file" aria-hidden="true"></i>
      {{ movie.title }}
    </h2>
    <button
      type="button"
      class="close"
      aria-label="Close movie details"
      (click)="modal.dismiss('Cross click')"
      tabindex="0"
    >
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
  </div>
  <div class="modal-body" role="dialog" aria-labelledby="movie-modal-title" aria-describedby="movie-description">
    <img [src]="movie.poster" [alt]="movie.title + ' poster'" class="float-left mr-2" loading="lazy" />
    <p id="movie-description">{{ movie.plot }}</p>
    <div class="clearfix"></div>
    <section aria-label="Rate this movie">
      <app-rate-movie [movie]="movie"></app-rate-movie>
    </section>
    <div class="clearfix"></div>
    <section class="comments-container" aria-label="Movie comments">
      <app-comments-list [movie]="movie"></app-comments-list>
    </section>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
      aria-label="Close movie details modal"
      tabindex="0"
    >
      <i class="fas fa-times-circle" aria-hidden="true"></i>
      Close
    </button>
  </div>
</ng-template>
