<div class="edit-comment-container">
  <form action="" method="post" (submit)="edit(f)" #f="ngForm">
    <div class="form-group">
      <label for="validationTextarea" class="form-label">Edit Comment</label>
      <textarea
        [ngModel]="comment.content"
        #content="ngModel"
        class="form-control"
        [class.is-invalid]="content.invalid && content.touched"
        id="validationTextarea"
        placeholder="Edit your comment..."
        name="content"
        required
      ></textarea>
      <div
        class="invalid-feedback"
        *ngIf="content.invalid && content.touched"
      >
        Comment cannot be empty.
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="btn-submit">
        <i class="fas fa-check" aria-hidden="true"></i>
        Save Changes
      </button>
    </div>
  </form>
</div>
