<div class="container">
  <div
    *ngIf="flashMSG"
    class="alert alert-dismissible"
    [ngClass]="'alert-' + flashMSG.type"
  >
    <span>{{ flashMSG.msg }}</span>
    <button
      class="close-btn"
      aria-label="Close alert message"
      (click)="flashMSG = null"
      type="button"
    >
      <i class="fas fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <form #f="ngForm" (submit)="update(f)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input
        type="text"
        ngModel
        class="form-control"
        id="title"
        name="title"
        [(ngModel)]="movie.title"
      />
    </div>
    <div class="mb-3">
      <label for="genre" class="form-label">Genre</label>
      <input
        type="text"
        [(ngModel)]="movie.genre"
        class="form-control"
        id="genre"
        name="genre"
      />
    </div>
    <div class="mb-3">
      <label for="director" class="form-label">Director(s)</label>
      <input
        type="text"
        [(ngModel)]="movie.director"
        class="form-control"
        id="director"
        name="director"
      />
    </div>
    <div class="mb-3">
      <label for="cast" class="form-label">Cast</label>
      <input
        type="text"
        class="form-control"
        id="cast"
        name="cast"
        [(ngModel)]="movie.cast"
        placeholder="Enter comma separated names"
      />
    </div>
    <div class="mb-3">
      <label for="language" class="form-label">Language</label>
      <select
        class="form-control"
        id="language"
        name="language"
        [(ngModel)]="movie.language"
      >
        <option *ngFor="let language of languages" [value]="language.name">
          {{ language.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="released" class="form-label">Released</label>
      <input type="date" class="form-control" id="released" name="released" />
    </div>
    <div class="mb-3">
      <label for="poster" class="form-label">Poster</label>
      <input
        type="url"
        class="form-control"
        [(ngModel)]="movie.poster"
        id="poster"
        name="poster"
        placeholder="Enter Poster URL"
      />
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <select
        class="form-control"
        id="country"
        name="country"
        [(ngModel)]="movie.country"
      >
        <option *ngFor="let country of countries" [value]="country.name">
          {{ country.name }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="plot" class="form-label">Plot</label>
      <textarea
        class="form-control"
        id="plot"
        [(ngModel)]="movie.plot"
        placeholder="Write Plot"
        name="plot"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [class.disabled]="isLoading">
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
        *ngIf="isLoading"
      ></span>
      <i class="fas fa-save" *ngIf="!isLoading"></i>
      Submit
    </button>
  </form>
</div>
